.header {
  width: 80%;
  height: 42vw;
  margin: 22px auto;
  background: url("/header_img.png")
    no-repeat;
  background-size: contain;
  position: relative;
  border-radius: 20px;
  color: azure;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 52%;
  bottom: 40%;
  left: 6vw;
  animation: fadeText 2s;
}

.header h2 {
  font-weight: 500;
  font-size: max(4.5vw, 22px);
}

.header p {
  font-size: 1vw;
}

@media (max-width: 900px) {
  .header {
    width: 90%;
    background-size: cover;
  }
}