.header {
  width: 80%;
  height: 42vw;
  margin: 22px auto;
  background-repeat: no-repeat;
  background-size: contain;
<<<<<<< HEAD
=======
  background-size: contain;
>>>>>>> ec83d5c762d12d0603d216d876a41298354cffb4
  position: relative;
  border-radius: 20px;
  color: azure;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 52%;
  bottom: 40%;
  left: 6vw;
  animation: fadeText 2s;
}

.header h2 {
  font-weight: 500;
  font-size: max(4.5vw, 22px);
}

.header p {
  font-size: 1vw;
}

<<<<<<< HEAD
@media (max-width: 390px) {
  .header h2 {
    font-size: 13px;
  }
  .header-contents {
    bottom: 20px;
  }
  .header p {
    font-size: 10px;
  }
}

=======
>>>>>>> ec83d5c762d12d0603d216d876a41298354cffb4
@media (max-width: 900px) {
  .header {
    width: 90%;
    background-size: cover;
  }
<<<<<<< HEAD
}

@media (max-width: 500px) {
  .header {
    width: 95%;
    margin-top: 15px;
  }
  .header p {
    font-size: 9px;
  }
  .header-contents {
    bottom: 30%;
  }
}
=======
}
>>>>>>> ec83d5c762d12d0603d216d876a41298354cffb4
