.navbar {
  padding: 12px 0px;
  background-color: #eef0ef;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 120px;
  margin-left: 30px;
}

.navbar-menu {
  color: #5a1b12;
  font-size: 18px;
  display: flex;
  list-style: none;
  gap: 20px;
  margin-right: 80px;
  font-weight: 500;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #5a1b12;
}

.navbar li {
  cursor: pointer;
}

@media (max-width: 1050px) {
  .navbar .logo {
    width: 100px;
  }
  .navbar-menu {
    font-size: 16px;
    margin-right: 40px;
  }
}

@media (max-width: 560px) {
  .navbar-menu {
    gap: 12px;
    margin-right: 20px;
  }
}
